#content {
    display: grid;
    grid-template: 80px 60px 50px 1fr / 150px 150px;
    grid-row-gap: 10px;
    grid-column-gap: 30px;
    grid-template-areas: 
        "author avatar"
        "description avatar"
        "social social"
        "table table";
}

.avatar {
    grid-area: avatar;
    img {
        border-radius: 20px;
        width: 150px;
        height: 150px;
    }
}

.author {
    grid-area: author;
    text-align: end;
}
    
.description {
    grid-area: description;
    text-align: end;
}

.social {
    grid-area: social;

    ul {
        padding: 0px 20px;
        margin: unset;
        display: flex;
        justify-content: center;

        li {
            margin: 5px;
            list-style-type: none;
            a {
                color: #212121;
            }
        }
    }
}

.table {
    grid-area: table;
}